<div class="px-10 py-4 shadow-md fixed w-full bg-white z-50">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-3">
      <div>
        <h1 class="text-3xl font-bold">DASHBOARD</h1>
      </div>
      <div class="bg-black text-white w-7 aspect-square rounded-full flex justify-center items-center text-xs">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
      </div>
      <div>
        <p class="text-xl font-bold">Monthly Order</p>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <div class="text-xl">
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
      <div>
        <div class="bg-gray-400 w-10 aspect-square rounded-full flex justify-center items-center">
          <span class="font-semibold">AN</span>
        </div>
      </div>
      <div>
        <p class="font-semibold text-lg">Ahmad Nabil</p>
      </div>
    </div>

  </div>
</div>