<div class="shadow-md w-1/5 h-[calc(100vh_-_72px)] fixed font-medium max-w-full top-[72px] bg-white">
  <div class="bg-button py-10 px-4 rounded-[9px] text-white">
    <p class="flex items-center gap-2"><span
        class="border-2 w-5 aspect-square flex items-center justify-center rounded-full text-[10px] font-bold"><fa-icon
          [icon]="faPlus" /></span> VEHILCLE
      LIBRARY</p>
  </div>
  <ul class="text-[#9f9f9f]">
    <li
      class="py-3 px-4 flex items-center gap-2 rounded-[9px] hover:text-[#1e1e1f] text-[#1e1e1f] hover:bg-[#e7e7e7] bg-[#e7e7e7] cursor-pointer">
      <fa-icon [icon]="faUser" /> Monthly Order
    </li>
    <li
      class="py-3 px-4 flex items-center gap-2 rounded-[9px] hover:text-[#1e1e1f]  hover:bg-[#e7e7e7] transition duration-200  cursor-pointer">
      <fa-icon [icon]="faReceipt" /> Montyly Order
    </li>
    <li
      class="py-3 px-4 flex items-center gap-2 rounded-[9px] hover:text-[#1e1e1f]  hover:bg-[#e7e7e7] transition duration-200  cursor-pointer">
      <fa-icon [icon]="faReceipt" /> Models
    </li>
    <li
      class="py-3 px-4 flex items-center gap-2 rounded-[9px] hover:text-[#1e1e1f]  hover:bg-[#e7e7e7] transition duration-200  cursor-pointer">
      <fa-icon [icon]="faReceipt" /> Katashiki
    </li>
    <li
      class="py-3 px-4 flex items-center gap-2 rounded-[9px] hover:text-[#1e1e1f]  hover:bg-[#e7e7e7] transition duration-200  cursor-pointer">
      <fa-icon [icon]="faPalette" /> General Colors
    </li>
    <li
      class="py-3 px-4 flex items-center justify-between gap-2 rounded-[9px] hover:text-[#1e1e1f]  hover:bg-[#e7e7e7] transition duration-200  cursor-pointer ">
      <div class="flex gap-2 items-center"><fa-icon [icon]="faPencil" /> Katashiki Combinations
      </div> <fa-icon [icon]="faEllipsis" />
    </li>
    <li
      class="py-3 px-4 flex items-center justify-between gap-2 rounded-[9px] hover:text-[#1e1e1f]  hover:bg-[#e7e7e7] transition duration-200  cursor-pointer">
      <div class="flex gap-2 items-center"><fa-icon [icon]="faPencil" /> List Names</div> <fa-icon
        [icon]="faEllipsis" />
    </li>
  </ul>

  <div class="absolute bottom-2 px-4 text-sm">
    <p class="text-[#919eae]"><fa-icon [icon]="faRightFromBracket" /> BACK TO PORTAL</p>
    <P class="pl-5">Version 0.1.0</P>
  </div>
</div>